@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700');


body {
    height: 3000px;
    background-color: #D9CFC3;
    font-family: "Fira Sans";
}

.Graph {
    width: 720px;
    height: 800px;
    border: 1px solid white;
} 

.Graph {
    position: fixed;
    top: 0;
    left: 0;
}




.axis line {
    stroke: #fff;
}

.axis path {
    display: none
}

.tick text {
    font-family: "Fira Sans";
    color: #fff;
    font-size: 15px;
}

.axis-label {
    font-size: 20px;
    font-weight: bold;
}

text {
   font-size: 12px; 
}
